#page {}

#mmenu1 {}

#mmenu2 {}

.promo__wrap {
    padding: 0 15px;
}

#promoSlider {
    height: 100%;
    border-radius: var(--border-radius-1);
    background-color: #4AA473;
    position: relative;
}

#promoSlider .promo-slider__controls {
    position: absolute;
    bottom: 40px;
    left: 55px;
    width: auto;
    height: 25px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    z-index: 5;
}

#promoSlider .swiper-pagination {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promo-slider__controls .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border: 1px solid white;
    background-color: transparent;
    opacity: 1;
    margin-right: 13px;
}


.promo-slider__controls .swiper-pagination-bullet-active {
    background-color: white;
}

#swiper-autoplay-control {
    position: relative;
    width: 5px;
    height: 10px;
    margin-left: 15px;
    cursor: pointer;
}

#swiper-autoplay-control::before, #swiper-autoplay-control::after {
    background: white;
    position: absolute;
    content: "";
    height: 100%;
    width: 2px;
    top: 0;
    left: 0;
}

#swiper-autoplay-control::after {
    left: 100%;
}

#swiper-autoplay-control.pause::before, #swiper-autoplay-control.pause::after {
    display: none;
}

#swiper-autoplay-control.pause {
    width: 50px;
    border: 5px solid white;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
}

#carousel-0 {}

#carousel-1 {}

#carousel-2 { 
}

.template-is-index {}

.promo__wrap {}

.promo-slider__wrap {}

.promo-slider__img_wrapper {
    height: 100%;
    color: white;
}

.promo-slider__img {
    position: absolute;
    left: 50%;
    right: 50%;
    top: 59%;
    bottom: 50%;
    transform: translate(-50%, -50%);
}

.promo-slider__text_wrapper {
    padding: 35px 55px;
}

.promo-slider__text {
    font-weight: bold;
    color: #FFFFFF;
}

.promo-slider__btn {
    margin-top: 19px;
    display: inline-block;
    line-height: 40px;
    padding: 0 23px;
}

.promo-banner {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.promo-banner__one, .promo-banner__two {
    background: url("images/side-banner-top.jpg") no-repeat center center / cover transparent;
    flex: 0 1 50%;
    border-radius: 10px;
}

.promo-banner__two {
    margin-top: 15px;
}

.container.solutions {}

.news-section__list,
.solutions__list {
    padding-top: 20px;
}


@-webkit-keyframes fadeEffect {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}