@media screen and (min-width: 1920px) {}

@media screen and (min-width: 1600px) {}

@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 920px) {}

@media screen and (max-width: 768px) { 
    .site-header__top {
        background: url("../images/bg-header-mobile.jpg") repeat-x bottom left / cover white;
    }
    .site-header__logo {
        height: 70px;
        margin: 10px 0;
    }
    .site-header__bottom {
        background: #212425;
        padding: 0 15px;
    }
    .breadcrumb {
        max-width: none;
        overflow: auto;
    }
    .breadcrumb__wrapper {
        position: relative;
    }
    .breadcrumb__wrapper::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 15%;
        z-index: 1;
        height: 100%;
        background: linear-gradient(to right, #fff 0%, transparent 100%);
    }
    .breadcrumb__wrapper span.breadcrumb-link, .breadcrumb__wrapper a.breadcrumb-link {
        height: 100%;
        color: #A7CF9F;
    }
    .mobile__additional-info .phone-call {
        max-width: none;
    }
    .site-header__logo>img {
        margin: 0 auto;
    }
    .collection-filter {
        max-height: 0;
        margin-right: 0;
        overflow: hidden;
    }
    .collection-filter.opened {
        max-height: none;
        position: fixed;
        z-index: 1001;
        background-color: white;
        top: 0;
        left: 0;
        margin: 0;
        height: 100vh;
        width: 100%;
        padding: 22px;
        padding-top: 65px;
    }
    .collection-sort {
        max-height: 0;
        overflow: hidden;
    }
    .collection-sort.opened {
        max-height: none;
        overflow: hidden;
        position: fixed;
        z-index: 1001;
        background-color: white;
        top: 0;
        left: 0;
        margin: 0;
        height: 100vh;
        width: 100%;
        padding-top: 65px;
    }
    .filter-activated .filter-title {
        border-top: 0px solid;
    }
    .filter-submit_wrap {
        margin-bottom: 30px;
    }
    .additional-mobile-buttons {
        font-family: Gilroy;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #333333;
    }
    .add-mob-button {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 55px;
        height: 50px;
        cursor: pointer;
    }
    .filters-sm-button {
        background: url("../images/mobile-icon-filter.svg") no-repeat 19px center / 15px transparent;
    }
    .sort-sm-button {
        background: url("../images/mobile-icon-sort.svg") no-repeat 19px center / 15px transparent;
        border-left: 1px solid #EFF1F5;
    }
    .link-to-subcategories {
        border-top: 1px solid #EFF1F5;
        border-bottom: 1px solid #EFF1F5;
    }
    .product-card_regular {
        border-radius: 0px;
        border: 1px solid #EFF1F5;
        box-shadow: none;
        margin-left: -1px;
    }
    .catalog-feed__prod_list {
        margin: 0 -17px;
    }
    .catalog-feed__prod_list .product-card {
        margin-bottom: -1px;
    }
    .prod-info__price small {
        display: none;
    }
    .prod-info__price b {
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
    }
    .prod-info__price, .prod-info__title .btn {
        flex: 0 0 45%;
        max-width: 45%;
    }
    .prod-info__title .btn {
        position: relative;
        height: 40px;
        width: 40px;
        padding: 0;
        flex: 0 0 40px;
        max-width: 40px;
    }
    .prod-info__title .btn:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../images/icon-basket-white.svg") no-repeat center center / 30px #419A28;
    }
    .collection-filter .filters-sm-button, .collection-sort .sort-sm-button {
        position: fixed;
        z-index: 9;
        top: 10px;
        right: 7px;
        height: 30px;
        width: 30px;
        background: url("../images/close.svg") no-repeat center center / 30px transparent;
        border-width: 0px;
    }
    .sort-list__item {
        height: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 1px solid #EFF1F5;
    }
    .sort-list__item input {
        display: none;
    }
    .sort-list__item label {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        padding: 0 22px;
        color: #333333;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .sort-list__item input:checked+label {
        color: #A7CF9F;
        background: url("../images/icon_check-selected-green.svg") no-repeat calc(100% - 30px) center / 15px transparent;
    }
    .product-card_mini {
        text-align: center;
        max-height: 160px;
        margin-bottom: 10px;
    }
    .product-card_mini .product-img {
        width: 70%;
    }
    .product-card_mini .product-card__image {
        max-height: 103px;
    }
    .product-card_mini .prod-info__title {
        max-height: 38px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .template-towar .with-tail, .template-production .with-tail {
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 62px;
    }
    .product__code {
        top: auto;
        right: auto;
        bottom: -43px;
        left: 0;
        background: #FCE588;
        border: 1px solid #F7C948;
        box-sizing: border-box;
        border-radius: 6px;
        font-family: Gilroy;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #8D2B0B;
        padding: 5px 14px;
    }
    .product__description {
        margin-top: 50px;
    }
    .product__quantity-and-buy {
        position: relative;
        width: 100%;
        margin-bottom: 15px;
    }
    .product__quantity-and-buy .product__quantity-controls button, .product__quantity-and-buy .product__quantity-controls input {
        height: 50px;
    }
    .product__quantity-and-buy .product__quantity-controls, .product__quantity-and-buy .btn {
        width: 50%;
        max-width: none;
        box-sizing: border-box;
    }
    .product__quantity-and-buy .btn {
        position: absolute;
        top: 0;
        right: 0;
    }
    .product__description .btn {
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
    }
    .btn-green_on-mobile {
        background-color: white;
        border: 1px solid #419A28;
        color: #419A28;
        width: 100%;
    }
    .btn-green_on-mobile:hover {
        background-color: #419A28;
        border: 1px solid white;
        color: white;
    }
    .call-block {
        position: relative;
        margin-top: 25px;
        width: 100%;
    }
    .call-block .mobile-span {
        position: absolute;
        top: -58%;
        text-align: left;
        left: 0;
    }
    .call-block .nice-call {
        background: url("../images/icon_copy-action.svg") no-repeat right center / 15px transparent;
        padding-right: 30px;
    }
    .product__card_tabs .tab {
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .product__card_tabs .tablinks:not(:last-child) {
        border-right: 0px solid;
        border-bottom: 1px solid #A7CF9F;
    }
    .product__card_tabs .tablinks {
        height: auto;
        padding: 10px;
        width: 75%;
    }
    .product__card_tabs .t-row-like {
        margin: 0 -17px;
        border-radius: 0;
        height: auto;
        flex-wrap: wrap;
    }
    .product__card_tabs .t-row-like .t-cell-like:first-child, .product__card_tabs .t-row-like .t-cell-like:last-child {
        flex-basis: 100%;
        max-width: 100%;
    }
    .product__card_tabs .t-cell-like+.t-cell-like {
        margin-top: 10px;
    }
    .template-towar .carousel__wrapper .product-card_regular {
        margin-left: 0px;
        border-right: 0px;
    }
    .pdf-block {
        margin-right: auto;
    }
    .pdf-info a {
        white-space: normal;
    }
    .template-about .solutions__item_visible {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .template-about .solutions__icon.icon {
        line-height: 75px;
    }
    .complex-card .with-buttons {
        flex-wrap: wrap;
    }
    .complex-card .with-buttons .tablinks {
        flex: 0 1 calc(50% - 8px);
    }
    .complex-card_gray .co-input {
        padding: 0;
    }
    .complex-full__item .product-card__image {
        position: relative;
    }
    .complex-full__item .prod-info__price {
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 25px;
        color: white;
        flex-direction: row;
        max-width: 100%;
        justify-content: center;
    }
    .complex-full__item .prod-info__price small {
        font-weight: 500;
        font-size: 16.0541px;
        line-height: 21px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        opacity: 1;
        white-space: nowrap;
        margin: 0;
    }
    .complex-full__item .prod-info__price b {
        margin-left: 10px;
        font-weight: 600;
        white-space: nowrap;
        font-size: 20px;
        color: #419A28;
    }
    .prod-info__some-text {
        font-family: Gilroy;
        font-style: normal;
        font-weight: normal;
        font-size: 14.2703px;
        line-height: 25px;
        letter-spacing: 0.891892px;
        color: #333333;
    }
    .complex-full .carousel__wrapper {
        overflow: visible;
    }
    .complex-full .product-card_regular {
        border-radius: 10px;
        border: 1px solid #EFF1F5;
        box-shadow: none;
        margin-left: 0px;
    }
    .complex-full .img__relative {
        width: 100%;
        height: auto;
    }
    .product-card_regular_full .product-card__info {
        margin-top: -10px;
    }
    .template-contact .contacts-green-block, .template-complex .contacts-green-block {
        margin: 50px auto;
    }
    .item__act {
        position: absolute;
        left: auto;
        right: 10px;
        top: 10px;
    }
    li.cart__item_heading {
        display: none;
    }
    .cart__list {
        padding: 0;
    }
    .item__price_block {
        margin-top: 15px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: self-start;
    }
    .item__quantity {}
    .item__info_text {
        margin-top: 15px;
    }
    .item__price_block_summ {
        display: flex;
        padding-left: 10px;
        white-space: nowrap; 
        align-items: center;
    } 
    .cart-subbuttons {
        justify-content: center;
    }
    .cart-subbuttons .btn {
        width: 100%;
    }
    .row.is-grid>.item__info_image {
        align-items: flex-start;
        padding: 0;
        display: flex;
        height: 100%;
    }
    .user-content__mainphoto {
        height: 200px;
        background-size: cover;
    }
    .checkout-form.is-grid {
        max-width: none;
    }
    .checkout-item__block {
        width: auto;
        padding-right: 0;
        padding-left: 0;
    }
    .btn-black_compare {
        background-position: center center;
        padding: 25px;
    }
    .slider-controls-holder > .slider {
        width: 100%; 
        flex-basis: 100%;
    }
}

@media screen and (max-width: 640px) {}

@media screen and (max-width: 480px) {
    .co-input input, .co-input textarea {
        height: 54px;
    }
    .form__radio_group {
        margin: 5px 0;
    }
    .burger-mobile {
        height: 70px;
        width: 94px;
        justify-content: center;
        align-items: center;
    }
    .site-header__logo {
        margin: 0;
        height: 70px;
        padding: 5px;
    }
    .mtop-links__inpt-group {
        height: 70px;
    }
    .content {
        margin-top: 125px;
    }
    .promo__wrap {
        padding: 0;
    }
    #promoSlider {
        border-radius: 0;
    }
    #promoSlider .promo-slider__controls {
        left: 0;
        bottom: 20px;
        width: 100%;
        justify-content: center;
    }
    .promo-slider__img {
        top: 30%;
    }
    .promo-slider__text {
        text-align: center;
        margin-bottom: 15px;
    }
    .promo-slider__text_wrapper {
        padding: 248px 55px 80px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .promo-slider__btn {
        margin: 0 auto;
    }
    .section-header {
        position: relative;
        width: 65%;
        font-size: 18px;
    }
    .with-tail {
        position: static;
        line-height: 20px;
    }
    .with-tail::after {
        left: 77%;
    }
    .carousel__wrapper {
        padding: 25px 0 45px;
    }
    .main-wrapper .carousel.container .carousel__wrapper {
        margin-left: 20px;
        margin-right: 20px;
        overflow: visible;
    }
    .main-wrapper .carousel.container .swiper-arrows__wrapper {
        display: none;
    }
    .carousel.container .carousel__wrapper.template_1 {
        margin-left: -15px;
        margin-right: -15px;
    }
    .carousel.container+.carousel.container, .carousel.container+.news-section.container, .news-section.container+.brands.carousel {
        margin-top: 30px;
    }
    .news-image {
        background-size: cover;
    }
    .fcol__title {
        background: url("../images/plus.svg") no-repeat calc(100% - 35px) 1px transparent;
    }
    .fcol__list {
        position: relative;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        overflow: hidden;
        overflow-y: hidden;
        max-height: 0;
        -webkit-transition: max-height 0.3s cubic-bezier(.08, .82, .17, 1);
        -o-transition: max-height 0.3s cubic-bezier(.08, .82, .17, 1);
        transition: max-height 0.3s cubic-bezier(.08, .82, .17, 1);
    }
    .fcol__title.open-list+.fcol__list {
        list-style: none;
        padding-top: 0;
        padding-bottom: 0;
        position: relative;
        list-style: none;
        max-height: 1000em;
        z-index: 5;
    }
    .igroupFooter__fcol+.igroupFooter__fcol {
        margin-top: 15px;
    }
    .fcol__contacts {
        padding-right: 15%;
        margin-bottom: 30px;
    }
    .row.is-thin-grid>*, .row-reverse.is-thin-grid>*, .col.is-thin-grid>*, .col-reverse.is-thin-grid>* {
        padding-left: 9px;
        padding-right: 9px;
    }
    .template-catalog-products .row.is-thin-grid>*, .template-catalog-products .row-reverse.is-thin-grid>*, .template-catalog-products .col.is-thin-grid>*, .template-catalog-products .col-reverse.is-thin-grid>* {
        padding-left: 0px;
        padding-right: 0px;
    }
    .complex-full .img__relative {
        width: auto;
        height: 100%;
    }
}

@media screen and (max-width: 340px) {
    .fancybox-content {
        padding: 20px;
    }
    .promo-slider__text_wrapper {
        padding: 245px 35px 75px;
    }
}