@charset "UTF-8";
:root {
    --main-font: 'Montserrat Alternates', Gadget, sans-serif;
    --border-radius-1: 10px;
    --border-radius-2: 7px;
    --color_bg: #3F0A66;
    --color_text: #FFFFFF;
    --input_bg: transparent;
    --grid_width: 1220px;
    --swiper-navigation-size: 28px;
    --swiper-theme-color: rgba(255, 255, 255, 0.7);
}

body {
    font-family: var(--main-font);
    background-color: var(--color_bg);
    color: var(--color_text);
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
}

.main-wrapper {
    background-image: repeating-linear-gradient( 360deg, #CA1A6B 110px, #3F0A66 1057px, #CA1A6B 2114px);
}

button,
input,
optgroup,
select,
textarea {
    font-family: var(--main-font);
    color: var(--color_text);
    background-color: var(--color_bg);
    border: 0px solid;
    line-height: 1.3em;
}

a {
    text-decoration: none;
    color: inherit;
}

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

h1 {
    line-height: 40px;
    font-size: 34px;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.5px;
}

ul {
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.1px;
}

.user-content li {
    padding: 0 15px;
    list-style: disc;
    display: list-item;
    text-align: match-parent;
}

.row.is-grid>.user-content li {
    padding: 0 10px;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
    font-size: 20px;
    line-height: 1.3em;
    background: var(--input_bg);
    color: white;
}

input {
    border-bottom: 1px solid #EFF1F5;
    box-sizing: border-box;
    width: 100%;
}

button,
input[type="submit"] {
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

button:hover,
input[type="submit"]:hover {
    opacity: 0.8;
}

[class*='bttn-'] {
    cursor: pointer;
    outline: none;
    display: inline-block;
    font-family: inherit;
    overflow: hidden;
}

[class*='bttn-'][disabled] {
    opacity: 0.5;
}

.co-input {
    margin-bottom: 20px;
}

.co-input-label {
    font-weight: 600;
    font-size: 14px;
}

.co-input_centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.co-input input,
.co-input textarea {
    margin-top: 10px;
    padding: 0 15px;
    height: 34px;
    background: #FFFFFF;
    border: 1px solid #D9E2EC;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: black;
    outline: none;
}

textarea.co-input-field {
    padding-top: 7px;
    width: 100%;
    height: 120px;
}

.title-type-1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    margin: 25px 0;
}

.title-type-2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    margin: 10px 0;
}

.title-type-3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.25px;
}

.btn {
    min-height: 30px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    cursor: pointer;
    outline: none;
    font-family: inherit;
    overflow: hidden;
}

.btn-faded {
    display: inline-block;
    background-color: #9957a4;
    font-size: 16px;
    padding: 15px 45px;
}

.btn-black_compare:hover {
    opacity: .7;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--grid_width);
}

input[type="email"].inpt-email {
    background: #FFFFFF;
    border: 1px solid #D9E2EC;
    box-sizing: border-box;
    border-radius: 5px;
    height: 40px;
    padding: 0 15px;
    margin: 10px 0;
    outline: none;
}

.site-menu-main {
    display: flex;
    margin-bottom: 0;
    padding-left: 0;
}

.site-menu-main .nav-item a {
    padding: 20px 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

.site-menu-main .nav-item:last-child a {
    padding-right: 0px;
}

.font-standart-2 {
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.site-header {
    position: fixed;
    width: 100%;
    background: linear-gradient(0deg, #3F0A66 0%, #AE166A 100%) no-repeat 0 -150px transparent;
    transition: all 0.8s;
    z-index: 999;
}

.site-header_scrolled {
    background: linear-gradient(0deg, #3F0A66 0%, #AE166A 100%) no-repeat 0 0 transparent;
}

.brand-logo img {
    height: 100px;
}

.container .site-navbar {
    padding-left: 10px;
    padding-right: 10px;
}

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
}

.site-navbar {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.site-navbar .menu-block-wrapper {
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    align-items: center;
}

.menu-block {
    margin-left: auto;
}

.promo.index {
    padding-top: 370px;
    min-height: 1115px;
    background: url("../images/crystal-ball.png") no-repeat top center transparent;
}

.about-us__photos-bg {
    background: url("../images/section2-bg1-photos.png") no-repeat center center transparent;
    height: 100%;
    min-height: 760px;
}

section.history {
    background: url("../images/section3-bg1-palaroid-photos.png") no-repeat center center transparent;
    min-height: 1170px;
}

section.mission {
    background: url("../images/section4-bg1-book.png") no-repeat center center transparent;
    min-height: 1170px;
}

.balance-wheel-bg {
    background: url("../images/section5-balance-wheel-bg.png") no-repeat center center transparent;
    min-height: 860px;
}

.comments__wrap .swiper-container {
    overflow: visible;
}

.hero__block {
    max-width: 550px;
    margin: 0 auto;
}

.hero_slogan {
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 80px;
    display: inline-block;
    margin-bottom: 50px;
}

.about-us__block-bg {
    position: relative;
    z-index: 3;
}

.about-us__block-text {
    position: relative;
    z-index: 5;
    color: #A51569;
}

.about-us__block-bg::after {
    content: "";
    position: absolute;
    z-index: 3;
    top: -143px;
    left: -130px;
    width: 900px;
    height: 900px;
    background: url("../images/section2-bg2__about-text.png") no-repeat top left transparent;
}

.about-us__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
}

.about-us__text {}