@charset "UTF-8";
:root {
  --Gilroy: 'Gilroy', Gadget, sans-serif;
  --Houschka: 'Houschka Rounded Alt', Gadget, sans-serif;
  /* // не нашёл пока */
  --border-radius-1: 10px;
  --border-radius-2: 7px;
  --color_bg: transparent;
  --color_text: #333333;
  --color_green: #419A28;
  --color_green2: #A7CF9F;
  --color_green3: #93CB9C;
  --color_green_hover: #277411;
  --color_blue: #2CADE0;
  --color_bg_all: #ffffff;
  --color_bg_gray: #EFF1F5;
  --swiper-navigation-size: 28px;
  --swiper-theme-color: #419A28;
  --arrow_more: url("../images/arrow_more.svg");
  --plus: url("../images/icon_plus.svg");
}

body {
  font-family: var(--Gilroy);
  font-size: 18px;
  letter-spacing: -0.2px;
  color: #333333;
  background-color: #ffffff;
}

button, input, optgroup, select, textarea {
  font-family: var(--Gilroy);
  color: var(--color_text);
  background-color: var(--color_bg_gray);
  border: 0px solid;
  line-height: 1.3em;
}

a {
  text-decoration: none;
  color: inherit;
}

a, area, button, [role="button"], input, label, select, summary, textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
} 

h1 {
  line-height: 40px;
  font-size: 34px;
}

h2, h3, h4, h5, h6 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.5px;
}

ul {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.1px;
}

.user-content li {
  list-style: disc;
  display: list-item;
  text-align: match-parent;
}

input[type="text"], input[type="password"], input[type="email"], textarea, select {
  font-size: 13px;
  line-height: 16px;
  background: #EFF1F5;
  color: #333333;
}

input {
  background: #EFF1F5;
  border: 1px solid #EFF1F5;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
}

button, input[type="submit"] {
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}

button:hover, input[type="submit"]:hover {
  opacity: 0.8;
}

[class*='bttn-'] {
  cursor: pointer;
  outline: none;
  display: inline-block;
  font-family: inherit;
  overflow: hidden;
}

[class*='bttn-'][disabled] {
  opacity: 0.5;
}

.co-input {
  margin-bottom: 20px;
}

.co-input-label {
  font-weight: 600;
  font-size: 14px;
}

.co-input_centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.co-input input, .co-input textarea {
  margin-top: 10px;
  padding: 0 15px;
  height: 34px;
  background: #FFFFFF;
  border: 1px solid #D9E2EC;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: rgba(16, 42, 67, 0.4);
  outline: none;
}

textarea.co-input-field {
  padding-top: 7px;
  width: 100%;
  height: 120px;
}

.title-type-1 {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  margin: 25px 0;
}

.title-type-2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  margin: 10px 0;
}

.title-type-3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.25px;
}

.info-list {
  padding-left: 15px;
  list-style-type: disc;
}

.info-text, .info-li {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.1px;
}

.info-li {
  display: list-item;
  text-align: match-parent;
}

.info-adress_content {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1px;
}

.contacts-green-block {
  width: 297px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #A7CF9F;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 33px 44px  13px;
}

.info-phone_content {
  font-weight: 500;
  font-size: 18px;
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
}
.info-phone_content:hover {
  text-decoration: underline;
}

.info-type-contact {
  position: relative;
  font-size: 14px;
  line-height: 18px;
  display: inline-block; 
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}
.info-type-contact_tg {
  padding-left: 30px;
  background: url("../images/tel_tg.svg") no-repeat top left transparent;
}
.info-type-contact_viber {
  padding-left: 30px;
  background: url("../images/tel_viber.svg") no-repeat top left transparent;
}

.info-centered-big {
  margin: 50px 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1px;
}

.swiper-button-next::after, .swiper-button-prev::after {
  font-weight: bold;
}

.btn {
  height: 30px;
  min-height: 30px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  cursor: pointer;
  outline: none;
  font-family: inherit;
  overflow: hidden;
  border-radius: var(--border-radius-1);
}

.btn-white, .btn-white_big, .btn-green, .btn-green_big {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  background-color: white;
  border-color: #419A28;
  line-height: 20px;
  min-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #419A28;
  padding: 4px 30px;
}

.btn-white, .btn-white_big {
  color: white;
  border-color: white;
  background-color: transparent;
}
.btn-green:hover, .btn-green_big:hover {
  background-color: #419A28;
  border-color: white;
  color: white;
}
.btn-green2_big, .btn-green2 {
  background: #419A28;
  border: 1px solid transparent;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 4px 30px;
}

.btn-green_big, .btn-green2_big {
  font-weight: bold;
  font-size: 16px;
  padding: 25px 30px;
}

.btn-green_big:hover {
  border: 1px solid transparent;
  color: #FFFFFF;
  background: #419A28;
}

.btn-white_big {
  font-weight: bold;
  font-size: 16px;
  padding: 25px 30px;
}
.btn-green.phone-call__zakazat:hover, .btn-green.phone-call__zakazat:hover { 
  border-color: white;
  background-color: #277411;
  color: white;
}
.btn-green2:hover, .btn-green2_big:hover {
  border-color: #277411;
  background-color: white;
  color: #277411;
}

.btn-green.phone-call__zakazat {
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 1.18634px;
  text-transform: uppercase;
  color: #419A28;
  border: 1px solid #419A28;
  border-radius: var(--border-radius-1);
  padding: 0px 10px;
}

#file-input_custom {
  display: none;
}

.file-input__btn {
  font-weight: 600;
  font-size: 14px;
  color: #419A28;
  padding-left: 50px;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: url("../images/icon_paper-clip.svg") no-repeat left center transparent;
  cursor: pointer;
}

.file-input__subtext {
  padding-left: 50px;
  font-size: 12px;
  color: #333333;
}

.container {}

.burger-mobile, .catalog-menu-mobile {}

.logotype.in-mobile {}

.mmenu__item {}

.mobile__additional-info {}

.phone-big {
  font-family: Gilroy;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 1px;
  color: #000000;
}
.phone-big:hover {
  text-decoration: underline;
}
.phone-medium {
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  display: inline-block;
  margin-bottom: 35px;
  width: 100%;
}

.inpt-grp {
  position: relative;
}

.inpt-sbmt {
  position: absolute;
  display: block;
  top: calc(50% - 15px);
  right: 0;
  height: 30px;
  width: 50px;
  border: 0px solid;
  background: url("../images/arrow-right-green.svg") no-repeat center center transparent;
}

input[type="email"].inpt-email {
  background: #FFFFFF;
  border: 1px solid #D9E2EC;
  box-sizing: border-box;
  border-radius: 5px;
  height: 40px;
  padding: 0 15px;
  margin: 10px 0;
  outline: none;
}

.phone-call {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 35px;
  height: 70px;
  background: url("../images/icon_call-black.svg") no-repeat 20px transparent;
}

.phone-call__number {
  margin-top: 7px;
  margin-bottom: 4px;
}

.phone-call__link {
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
}

.mmenu__header {}

.mmenu__link.mmenu__link_hover {}

.mmenu__link-to-catalog {}

.site-header__top {
  overflow: hidden;
}

.burger-mobile {}

.site-header__logo {
  height: 130px;
  overflow: hidden;
}

.site-header__logo>img {
  display: block;
  height: 130px;
}

.site-header__logo_negative {
  display: none;
}

.mtop-links {}

.mtop-links__item {}

.mtop-links__link.icon-search {}

.icon {}

.search_widget {}

.inpt-group {}

.search_widget-control {}

.search_widget-submit {
  background: url("../images/icon_search-green.svg") no-repeat center center transparent;
  position: absolute;
  top: 13px;
  right: 12px;
  width: 45px;
  height: 43px;
  background-color: transparent;
}

.font-standart {
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.font-black {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1px;
  color: #000000;
}

.font-black strong {
  font-size: 20px;
  line-height: 26px;
}

.slider {
  position: relative;
  overflow: hidden;
}

.center_icon {}

.counter {}

.site-header {
  /* разрешение 1360px  -, background: url("../images/bg-header.jpg") repeat-x top center white; */
  background: url("../images/bg-header-wide.png") repeat-x top center white;
  background-size: initial;
  position: absolute;
  margin-top: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 0px;
  width: 100%;
  -webkit-transition: all 0ms;
  -o-transition: all 0ms;
  transition: all 0ms;
}

.site-header_scrolled {
  position: fixed;
}

.site-header_scrolled .site-header__top {
  height: 0;
}

.site-header_scrolled .site-header__logo_negative {
  display: block;
  flex: 0 0 auto;
}

.site-header__bottom {
  background: url("../images/bg-menu__triangles_left.png") left bottom no-repeat, url("../images/bg-menu__triangles_right.png") right bottom no-repeat, #212425;
  color: #F0F4F8;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 56px;
  flex-wrap: nowrap;
}

.header-menu__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: -0.2px;
  display: flex;
  padding: 0 15px;
  margin-right: 15px;
  height: 100%;
}

.header-menu__item:not(.basket):hover::after, .header-menu__item.header-menu__item_active:after {
  content: "";
  height: 6px;
  width: 50px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 25px);
  background-color: #419A28;
}

.site-header_scrolled .header-menu__item {
  font-size: 16px;
  margin-right: 10px;
  flex: 0 0 auto;
}

.header-menu__item.basket {
  width: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.site-header_scrolled .header-menu__item.basket {
  background: url("../images/icon_call-white.svg") no-repeat 10px;
  width: auto;
  padding-left: 35px;
  padding-right: 10px;
  margin-right: 0;
  flex: 1 1 100%;
  justify-content: flex-end;
}

.basket__widget.icon-cart {
  display: block;
  width: 100px;
  height: 100px;
  background: url("../images/icon-basket-green.svg") no-repeat center center transparent;
  position: relative;
}

.basket__widget.icon-cart .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.basket-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px;
  color: #419A28;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.center_icon {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

.center_icon .counter {
  position: absolute;
  top: -22px;
  left: 10px;
  height: 17px;
  width: 17px;
  line-height: 17px;
  background-color: #A7CF9F;
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  color: #202425;
}

.content {
  margin-top: 185px;
  background: url("../images/bg-site.jpg") repeat-y top center / 100%;
}

.main-wrapper .container {
  background-color: white;
}

.main-wrapper section.container:not(.dont-fix-bg) {
  background-color: white;
  padding: 20px 15px;
}

.main-wrapper .complex-card_gray {
  background-color: #EFF1F5;
  padding: 15px;
}

.complex-card .with-buttons .btn {
  height: auto;
}

.row.with-buttons .btn {
  white-space: normal;
  margin-right: 8px;
  flex-wrap: nowrap;
  margin-bottom: 15px;
}

.complex-card_gray form {
  margin: 20px 0;
}

.complex-card .with-buttons .tablinks.active {
  background: #419A28;
  border: 1px solid transparent;
  color: white;
}

.complex-card .with-buttons {
  flex-wrap: nowrap;
}

.container.subheader {}

.subheader__phone {
  padding: 15px 0;
}

.phone-call__icon {}

.subheader__search_widget {
  height: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subheader__search_widget .inpt-group {
  width: 100%;
  height: 100%;
  padding: 15px;
  position: relative;
}

.inpt-group .search_widget-control {
  background-color: white;
  height: 40px;
  border: 1px solid #A7CF9F;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 10px;
  width: 100%;
  outline: none;
}

.subheader__basket.basket {
  padding: 15px 0;
}

.basket__widget_green {
  border: 1px solid #A7CF9F;
  display: flex;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.basket__widget_green .basket__widget {
  width: 30%;
  height: auto;
}

.container.promo.index {}

.catalog-menu {}

.catalog-menu__wrap {
  position: relative;
  z-index: 9;
  background: #A7CF9F;
  border-radius: 10px;
}

.catalog-menu__header, .catalog-menu__see-all {
  height: 56px;
  padding: 20px 19px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.category-menu__list, .catalog-menu__list {
  background-color: white;
  padding-top: 3px;
  padding-bottom: 1px;
}

.catalog-menu__item {
  background-color: #EAEAEA;
  margin-bottom: 3px;
  display: flex;
  position: relative;
}

.catalog-menu__item:hover {
  background-color: #D7DAE3;
}

.catalog-menu__item:last-child {
  margin-bottom: 2px;
}

.category-menu__icon, .catalog-menu__icon {
  background: url("../images/hexagon.svg") no-repeat center center transparent;
  display: block;
  height: 38px;
  flex: 0 0 67px;
  line-height: 37px;
  text-align: center;
  color: #419A28;
}

.catalog-menu__link {
  height: 40px;
  width: 100%;
  padding: 13px 0;
  margin-left: -3px;
  font-weight: normal;
  letter-spacing: 0.002em;
  font-size: 13px;
  display: flex;
  align-items: center;
}

.catalog-menu__item:hover .catalog-menu__link {
  color: #419A28;
}

.catalog-menu__item:hover .category-menu__icon, .catalog-menu__item:hover .catalog-menu__icon {
  color: white;
}

.catalog-menu__sublist_wrap {
  position: absolute;
  top: 0;
  left: -9900%;
  width: 700px;
  padding: 0 15px;
}

.catalog-menu__sublist_wrap::after {
  position: absolute;
  content: "";
  top: 9px;
  left: -3px;
  width: 100px;
  height: 50px;
  background: url("../images/submenu-tail.png") no-repeat left top transparent;
}

.catalog-menu__sublist_wrap>.catalog-menu__sublist {
  border-radius: 10px;
  padding: 15px 30px;
  background: #FFFFFF;
  border: 0.3px solid #b7b7b7;
  box-shadow: 0px 6px 10px rgba(51, 51, 51, 0.16);
}

.catalog-menu__sublist>* {
  position: relative;
  z-index: 5;
  font-size: 13px;
  line-height: 16px;
}

.catalog-menu__item:hover .catalog-menu__sublist_wrap {
  left: 100%;
}

.catalog-menu__subheader {
  font-weight: 500;
  color: #419A28;
  margin-bottom: 20px;
}

.catalog-menu__subitem {
  height: 50px;
  border-bottom: 1px solid #F0F4F8;
  width: 50%;
}

.catalog-menu__subitem:last-child {
  border-bottom: 0px solid;
}

.catalog-menu__sublink {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}

.catalog-menu__sublist.catalog-menu__sublist_2nd {
  display: none;
}

.catalog-menu__subitem:hover .catalog-menu__sublist_2nd {
  display: block;
  margin-left: 100%;
  width: 100%;
  top: -100%;
  position: relative;
  padding-left: 30px;
}

.catalog-menu__see-all {
  display: flex;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.2px;
  text-transform: none;
}

.catalog-menu__icon.right-arrow {
  background-image: url("../images/arrow-right-white.svg");
}

.catalog-menu__sublink::before {
  content: '';
  display: block;
  position: absolute;
  top: 25px;
  top: calc(var(--mm-spn-item-height)/ 2);
  right: 25px;
  right: calc(var(--mm-spn-item-height)/ 2);
  z-index: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid;
  border-right: 2px solid;
  -webkit-transform: rotate(45deg) translate(0, -66.66667%);
  -ms-transform: rotate(45deg) translate(0, -66.66667%);
  transform: rotate(45deg) translate(0, -66.66667%);
  opacity: .4;
}

.catalog-menu__sublist_2nd .catalog-menu__subitem {
  width: 100%;
}

.swiper-wrapper {}

.swiper-slide {}

.swiper-pagination {}

.swiper-button-prev {}

.swiper-button-next {}

.content-header {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.3em;
}

.section-header, .section-header_with-line {
  font-size: 24px;
  display: flex;
  background: url("../images/hexagon-half.svg") no-repeat left center transparent;
  padding-left: 30px;
  height: 65px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.date-type1 {
  display: inline-block;
  margin-top: 20px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1px;
  color: #829AB1;
}

.user-content__mainphoto {
  height: 377px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  position: relative;
  margin-top: 10px;
  margin-bottom: 40px;
}

.soc-block {
  width: 229px;
  height: 50px;
  background: #EFF1F5;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10px;
  font-size: 14px;
  padding: 15px;
}

.soc-share-icon {
  margin-right: 8px;
}

.section-header+.row {
  padding-top: 20px;
}

.with-tail {
  position: relative;
}

.with-tail::after {
  position: absolute;
  content: "";
  width: 210px;
  height: 100%;
  top: 0;
  left: 100%;
  background: url("../images/image_17.png") no-repeat center center transparent;
}

.section-header_with-line {
  padding-left: 0;
  position: relative;
  font-size: 16px;
  letter-spacing: 1px;
  background: none;
}

.section-header_with-line::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #EFF1F5;
  top: 50%;
  left: 0;
  z-index: 0;
}

.section-header_with-line span {
  background: white;
  position: relative;
  z-index: 1;
  padding-right: 30px;
}

.carousel.container {}

.carousel__wrapper {
  position: relative;
  padding: 25px 0 45px;
}

.product-card__image.product-img__wrap {
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card_mini, .product-card_regular {
  overflow: hidden;
  position: relative;
  box-shadow: 0px 6px 10px 2px rgba(51, 51, 51, 0.05);
  border-radius: 10px;
  background: #FFFFFF;
  border: 2px solid #EFF1F5;
  box-sizing: border-box;
}

.product-card_regular_full .img__relative {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.product-card_regular_full img {
  width: 100%;
}

.product__quantity-controls {
  display: flex;
  flex-wrap: nowrap;
  max-width: 97px;
  border: 1px solid #D9E2EC;
  border-radius: 4px;
  overflow: hidden;
}

.product__quantity-controls button, .product__quantity-controls input {
  background-color: #EFF1F5;
  height: 30px;
  border: 0px solid;
  text-align: center;
  border-radius: 0px;
  font-size: 29px;
  font-weight: 300;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  flex-basis: 33.33%;
}

.product__quantity-controls input {
  font-size: 13px;
}

.slider-controls-holder {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}

.slider-controls-holder>.slider {
  width: 80%;
  flex-basis: 80%;
}

.slider_full {
  overflow: hidden;
  border-radius: 10px;
}

.slider_full .img__relative {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.slider_full img {
  width: 100%;
}

.product-card_regular_full .product-card__info {
  padding-top: 20px;
}

.product-card_mini:hover, .product-card_regular:hover {
  box-shadow: 0px 6px 30px 2px rgba(51, 51, 51, 0.12);
}

.sticker__wrap {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.stiker {
  border-radius: 4px;
  padding: 0px 3px;
  margin-bottom: 5px;
}

.stiker.stiker-new {
  background-color: #2CADE0;
}

.stiker.stiker-action {
  background-color: #FF353E;
}

.stiker.stiker-hit {
  background-color: #A7CF9F;
}

.hide-when-open, .hide-when-close {
  cursor: pointer;
  font-size: 24px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #419A28;
  opacity: 0.5;
}

.hide-when-close {
  display: none;
}

.is-opened .hide-when-close {
  display: inline-block;
}

.is-opened .hide-when-open {
  display: none;
}

.product-img__relative {}

.product-img {}

.product-card__info {
  padding: 0 20px 30px;
  background: white;
  position: relative;
  z-index: 5;
}

.prod-info__title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.prod-title {
  flex: 0 0 100%;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  padding-bottom: 20px;
}

.prod-info__price {
  display: flex;
  flex-direction: column;
  flex: 0 0 53%;
  max-width: 53%;
  justify-content: space-between;
  padding-bottom: 2px;
}

.prod-info__price small {
  font-size: 11px;
  line-height: 12px;
  opacity: 0.5;
  margin: 5px 0 8px;
}

.product-wrapper.product-card__form.product-card__form_hover {}

.swiper-arrows__wrapper {}

.swiper-pagination__wrapper {
  position: absolute;
  width: 100%;
  bottom: 31px;
  display: flex;
  justify-content: center;
}

.swiper-pagination__wrapper .swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15px;
}

.swiper-pagination__wrapper .swiper-pagination-bullet {
  border: 1.76596px solid #A7CF9F;
  opacity: 1;
  height: 10px;
  width: 10px;
  margin: 5px;
  background-color: transparent;
}

.swiper-pagination__wrapper .swiper-pagination-bullet-active {
  border: 1.76596px solid #419A28;
  background: #419A28;
}

.breadcrumb__wrapper {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.2px;
  color: #A7CF9F;
}

.breadcrumb {
  padding: 9px 0;
}

.breadcrumb__wrapper ul li {
  display: inline-block;
  vertical-align: top;
}

.breadcrumb__wrapper a.breadcrumb-link {
  color: #102A43;
}

.breadcrumb-link.current-page {}

.breadcrumb__wrapper ul> :not(:last-child)::after {
  content: '>';
  display: inline-block;
  vertical-align: top;
  opacity: 0.7;
  margin: 0 5px;
}

.chkbx-label {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.chkbx {
  display: none;
}

.chkbx-control {
  position: relative;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border-radius: 2px;
  border: 2px solid var(--color_green);
  margin-right: 10px;
  margin: 5px 10px 5px 0;
}

.chkbx+.chkbx-control::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-image: url("../images/icon_check-selected.svg");
  background-repeat: no-repeat;
  background-color: var(--color_green);
  opacity: 0;
  -webkit-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
  background-position: center center;
}

.chkbx:checked+.chkbx-control::after {
  opacity: 1;
}

.filter-item span {
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;
}

.filter-toggle-cross {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 15px;
  right: 10px;
  -webkit-transition: transform 300ms;
  -o-transition: transform 300ms;
  transition: transform 300ms;
  background: var(--plus) no-repeat center center / 100% transparent;
  transform: rotate(-90deg);
}

.is-filter-open .filter-toggle-cross {
  transform: rotate(0deg);
  height: 1px;
  top: 20px;
}

form [type="radio"]:checked, form [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

form [type="radio"]:checked+label, form [type="radio"]:not(:checked)+label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.2px;
}

form [type="radio"]:checked+label:before, form [type="radio"]:not(:checked)+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #419A28;
  border-radius: 100%;
  background: #fff;
}

form [type="radio"]:checked+label:after, form [type="radio"]:not(:checked)+label:after {
  content: '';
  width: 6px;
  height: 6px;
  background: #419A28;
  position: absolute;
  top: 7px;
  left: 7px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

form [type="radio"]:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

form [type="radio"]:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.checkout-form button {
  margin-top: 30px;
  margin-bottom: 55px;
}

.pagination {
  list-style: none;
  margin: 0;
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  width: auto;
  -webkit-box-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 19px;
}

.pagination-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 10px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  border-radius: 5px;
}

.pagination-item:hover {
  color: #419A28;
}

.pagination-item.is-current {
  background-color: #419A28;
  color: white;
}

.brands.carousel .carousel__wrapper {
  padding: 25px;
}

.solutions__item {
  cursor: pointer;
  position: relative;
  border: 2px solid #EFF1F5;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.5px;
  box-shadow: 0px 6px 10px 2px rgba(51, 51, 51, 0.05);
}

.template-about .solutions__item {
  padding: 20px 10px;
}

.solutions__item:hover {
  border: 1px solid #A7CF9F;
}

.solutions__item_visible {
  display: flex;
  width: 100%;
}

.solutions__list {
  padding-top: 20px;
}

.solutions__icon.icon {
  background: url("../images/hexagon.svg") no-repeat center center / 90px transparent;
  display: block;
  width: 100px;
  height: 65px;
  flex: 1 0 75px;
  line-height: 63px;
  font-size: 36px;
  text-align: center;
  color: white;
}

.solutions__item:hover .solutions__icon.icon {
  background: url("../images/hexagon_negative.svg") no-repeat center center / 71px transparent;
  color: #419A28;
}

.solutions__link {
  flex: 1 1 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 17px;
  font-size: 16px;
}

.solutions__sub {
  border-top: 2px solid #F0F4F8;
  margin-top: 15px;
  padding-top: 15px;
  display: none;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.solutions__item:hover .solutions__sub {
  display: flex;
}

.solutions__sub-item {
  margin: 4px 0 3px;
}

.solutions__sub-link {
  padding-right: 25px;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1px;
}

.solutions__sub-link:hover {
  text-decoration: underline;
}

.portfolio .carousel__wrapper {
  margin: 0 30px;
}

.portfolio .swiper-slide {
  border-radius: 10px;
  overflow: hidden;
}

.portfolio .img__relative {
  width: 100%;
  position: relative;
}

.portfolio .img__relative img {
  width: 100%;
}

.portfolio__name {
  position: absolute;
  bottom: 0;
  color: white;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

.portfolio__item, .about-slider__img_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio__list.row .portfolio__item {
  margin-bottom: 20px;
}

span.pagination-link {
  color: #A7CF9F;
}

.news-item {
  margin-bottom: 25px;
}

.news-item:hover .news-item__link {
  text-decoration: underline;
}

.news-image {
  width: 100%;
  height: 180px;
  border-radius: 10px;
}

.news-item__info {
  display: flex;
  flex-wrap: wrap;
}

.news-item__date {
  flex: 0 0 100%;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;
  color: #A7CF9F;
  margin: 17px 0 10px;
}

.news-item__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.news-section__btn {
  margin: 20px 0 0;
}

.float-left-block {
  float: left;
  margin-right: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.carousel.brands.container {}

.brands__list.swiper-wrapper {}

.centered-img, .gallery__item.swiper-slide, .brands__item.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brands__logo.img__relative {}

.igroupFooter {
  background-color: #212425;
  padding-top: 40px;
  padding-bottom: 40px;
}

.igroupFooter__col {}

.logo-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
}

.igroupFooter__logo {
  width: 150px;
}

.igroupFooter__fcol.igroupFooter__fcol_padd {
  border-left: 1px solid rgba(255, 255, 255, .05);
}

.igroupFooter__fcol_padd>* {
  padding-left: 35px;
}

.fcol__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: 0.25px;
  color: #FFFFFF;
  opacity: 1;
  padding-bottom: 25px;
}

.fcol__list {
  font-weight: 500;
  font-size: 13px;
  letter-spacing: -0.2px;
  color: #FFFFFF;
}

.fcol__item {
  padding: 7px 0;
}

.fcol__link {
  line-height: 16px;
  opacity: 0.5;
  transition: opacity 300ms ease;
}

.fcol__link_to-all {
  text-decoration-line: underline;
  text-transform: uppercase;
  line-height: 19px;
  opacity: 0.5;
  transition: opacity 300ms ease;
}

.fcol__link:hover, .fcol__link_to-all:hover {
  color: white;
  opacity: 1;
}

.fcol__contacts {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
  color: #FFFFFF;
}

.info-margins {
  margin: 15px 0;
  line-height: 1.5em;
}

.info-email {}

.info-adress {}

.info-big {
  margin-bottom: 15px;
}

.info-big:hover {
  text-decoration: underline;
}

.info-big, .info-adress__title {
  width: 100%;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  line-height: 31px;
}

.filter-items-wrapper, .category-menu__sublist_wrap, .our-team__accordeon {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  overflow: hidden;
  overflow-y: hidden;
  max-height: 0;
  -webkit-transition: max-height 0.3s cubic-bezier(.08, .82, .17, 1);
  -o-transition: max-height 0.3s cubic-bezier(.08, .82, .17, 1);
  transition: max-height 0.3s cubic-bezier(.08, .82, .17, 1);
}

.js-filter-opener.is-filter-open+.filter-items-wrapper, .subcategory.is-sub-active+.category-menu__sublist_wrap, .js-accordion.is-opened+.our-team__accordeon {
  list-style: none;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  list-style: none;
  max-height: 1000em;
  z-index: 5;
}

.info-adress__worktime {}

.social-list {
  margin: 10px 0;
  display: flex;
}

.social-list__item {
  width: 40px;
  height: 40px;
  margin-right: 3px;
}

.social-list__link {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url("../images/ic-ig.png") no-repeat center center transparent;
}

.social-list__lin, .is-facebook {
  background-image: url("../images/ic-fb.png");
}

.social-list__link.is-instagram {
  background-image: url("../images/ic-ig.png");
}

.social-list__link.is-youtube {
  background-image: url("../images/ic-yt.png");
}

.social-list__link.is-twitter {
  background-image: url("../images/ic-wu.png");
}

#hidden-content-a {
  padding-bottom: 75px;
}

#hidden-content-a, #hidden-content-b, #hidden-content-c, #hidden-content-d {
  max-width: 875px;
}

#hidden-content-c .btn-green2_big {
  margin: 0 auto;
}

#hidden-content-c .slider-controls-holder {
  width: 130px;
  height: 130px;
}

.super-link {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 65px;
  background-color: #EFF1F5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.super-link__text {
  font-size: 13px;
  line-height: 16px;
  color: #419A28;
}

.super-link__link {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.2px;
  color: #A7CF9F;
  border-bottom: 1px solid #A7CF9F;
  margin: 0 5px;
}

.demo .btn {
  margin-bottom: 30px;
}

.js-scroll_top.scroll_top {}