@font-face {
  font-family: 'ig';
  src:  url('fonts/ig.eot?nt7f8k');
  src:  url('fonts/ig.eot?nt7f8k#iefix') format('embedded-opentype'),
    url('fonts/ig.ttf?nt7f8k') format('truetype'),
    url('fonts/ig.woff?nt7f8k') format('woff'),
    url('fonts/ig.svg?nt7f8k#ig') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ig' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icons-font__catalog_0:before {
  content: "\e91d";
  color: #419a28;
}
.icons-font__aboutUs_1:before {
  content: "\e900";
  color: #fff;
}
.icons-font__aboutUs_2:before {
  content: "\e901";
  color: #fff;
}
.icons-font__aboutUs_3:before {
  content: "\e902";
  color: #fff;
}
.icons-font__aboutUs_4:before {
  content: "\e903";
  color: #fff;
}
.icons-font__aboutUs_5:before {
  content: "\e904";
  color: #fff;
}
.icons-font__aboutUs_6:before {
  content: "\e905";
  color: #fff;
}
.icons-font__aboutUs_7:before {
  content: "\e906";
  color: #fff;
}
.icons-font__aboutUs_8:before {
  content: "\e907";
  color: #fff;
}
.icons-font__catalog_1:before {
  content: "\e908";
  color: #419a28;
}
.icons-font__catalog_3:before {
  content: "\e909";
  color: #419a28;
}
.icons-font__catalog_4:before {
  content: "\e90a";
  color: #419a28;
}
.icons-font__catalog_5:before {
  content: "\e90b";
  color: #419a28;
}
.icons-font__catalog_6:before {
  content: "\e90c";
  color: #419a28;
}
.icons-font__catalog_7:before {
  content: "\e90d";
  color: #419a28;
}
.icons-font__catalog_8:before {
  content: "\e90e";
  color: #419a28;
}
.icons-font__catalog_9:before {
  content: "\e90f";
  color: #419a28;
}
.icons-font__catalog_10:before {
  content: "\e910";
  color: #419a28;
}
.icons-font__catalog_11:before {
  content: "\e911";
  color: #419a28;
}
.icons-font__catalog_12:before {
  content: "\e912";
  color: #419a28;
}
.icons-font__catalog_13:before {
  content: "\e913";
  color: #419a28;
}
.icons-font__indexComplex_1:before {
  content: "\e914";
  color: #fff;
}
.icons-font__indexComplex_2:before {
  content: "\e915";
  color: #fff;
}
.icons-font__indexComplex_3:before {
  content: "\e916";
  color: #fff;
}
.icons-font__indexComplex_4:before {
  content: "\e917";
  color: #fff;
}
.icons-font__indexComplex_5:before {
  content: "\e918";
  color: #fff;
}
.icons-font__indexComplex_6:before {
  content: "\e919";
  color: #fff;
}
.icons-font__indexComplex_7:before {
  content: "\e91a";
  color: #fff;
}
.icons-font__indexComplex_8:before {
  content: "\e91b";
  color: #fff;
}
.icons-font__indexComplex_9:before {
  content: "\e91c";
  color: #fff;
}
